.circles-input {

}

.circle-size-input {
  margin-left: 60px;
}

.squares-input {
  margin-right: 10px;
}

.square-size-input {
  margin-left: 49px;
}

.square-rotation {
  margin-left: 15px;
}

.radius-input {
 margin-left: 41px;
}

.shape-input {
  margin-right: 7px;
}
